%hr/
%footer
  %p
    This community event is proudly organized by #{link_to 'DRUG', 'http://drug.org.pl'}
    %span.separator ·
    When in doubt, shoot an email to #{mail_to 'all@wrocloverb.com', 'all@wrocloverb.com'}
  = render 'main/counters'
