%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "#"} WROCLOVE.RB 2019 CALL FOR PAPERS
  - if current_user
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        -if current_user.staff?
          %li.nav-item
            = link_to 'Admin', admin_root_path, class: 'nav-link'
        %li.nav-item
          = link_to 'My Papers', papers_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Profile', profile_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
