%meta{:content => "summary_large_image", :name => "twitter:card"}/
%meta{:content => "@wrocloverb", :name => "twitter:site"}/
%meta{:content => "wroc_love.rb #{conference_year} CALL FOR PAPERS", :name => "twitter:title"}/
%meta{:content => "Three day, single track, community run conference in Wrocław, Poland happening on #{conference_dates}.", :name => "twitter:description"}/
%meta{:content => "https://wrocloverb.com/images/topimage_wroclove_new.png", :name => "twitter:image"}/
%meta{:content => "wroc_love.rb #{conference_year} CALL FOR PAPERS", :property => "og:title"}/
%meta{:content => "https://cfp-wrocloverb.herokuapp.com", :property => "og:url"}/
%meta{:content => "Three day, single track, community run conference in Wrocław, Poland happening on #{conference_dates}. ", :property => "og:description"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "https://wrocloverb.com/images/topimage_wroclove_new.png", :property => "og:image"}/
